#!/bin/bash

# Generic aliases
alias ls='ls -G'

# Generate random password via Yubikey.
# https://github.com/cixtor/passotp
alias p='passotp'

# Search directories for a regex pattern
# https://github.com/BurntSushi/ripgrep
# alias grep='rg --no-heading --no-ignore --hidden'
alias grep='grep --extended-regexp --color=auto'

alias rg='rg --no-heading --no-ignore -uuu'

# Display non-printing characters so they are visible
alias cat='cat -v'

# Simplify Caskroom calls.
alias cask='brew cask'

# Print generic default date based on Go.
alias ansic='echo '\''Mon Jan _2 15:04:05 2006 - 1136239445'\'''

# Get the public IP address of the current Internet connection
alias myip='dig +short myip.opendns.com @resolver1.opendns.com'

# Aliases for the strconv tool
# https://github.com/cixtor/strconv
alias replace='strconv replace'
alias capitalize='strconv capitalize'
alias upper='strconv uppercase'
alias lower='strconv lowercase'
alias md5='openssl dgst -md5'
alias sha1='openssl dgst -sha1'
alias sha256='openssl dgst -sha256'
alias chunk='strconv chunk'
alias len='strconv length'
alias b64enc='strconv b64enc'
alias b64dec='strconv b64dec'
alias urldec='strconv urldec'
alias urlenc='strconv urlenc'
alias rot13='strconv rotate'

# List top ten largest files/directories in current directory
alias ducks='du -cks * | sort -rn | head -11'

# Identify and search for active network connections
alias spy='lsof -i -P +c 0 +M'

# Identify what ports are open on the computer
alias tulpan='netstat -tulpan'

# Download YouTube video and extract audio
alias mp3dl='youtube-dl --id --extract-audio --audio-format mp3 --audio-quality 0'

# Automatically colorize Diff's output
alias diff='colordiff -u'

# Stress test the responsiveness of a network node
alias ddos='hping3 -c 10000 -d 120 -S -w 64 -p 21 --flood --rand-source'

# Run PHP-CodeSniffer with the WordPress Coding Standards
alias wpcs="phpcs --standard=WordPress"

# Shorter version of the tidy-viewer command line tool
# https://github.com/alexhallam/tv
alias tv='tidy-viewer'
